﻿@model WebCasas.Business.Entities.Door

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Door</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Width)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaterialName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasMetal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasMetal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasWood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasWood)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
